.card__kits{
    background-color: rgb(253, 221, 181);
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.card__kits h1{
    padding: 40px 0;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    font-style:italic;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}

.card{
    margin:  10px auto;
    animation: backInLeft;
    animation-duration: 1s;
}