@import url(contato.css);

/* carrossel */
.carousel{
    width: 70vw;
    display: flex;
    margin: 50px auto 20px auto;
}

#imagem{
    width: 650px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 800px rgba(0, 0, 0, 0.012);
}

#imagem2{
    width: 650px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 800px rgba(0, 0, 0, 0.012);
}

header{
    background-image: linear-gradient(rgba(135, 132, 132, 0.4), rgba(135, 130, 130, 0.4)),url(../img/background-bolo-2.jpg);
    background-size: cover;
    padding: 10px;
}


@media (max-width: 700px) {
    .carousel{
        width: 95vw;
    }
    header{
        padding: 2.5vw;
    }
    h1{
        font-size: 30px;
    }
}
.carrossel__seta{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.carousel, .card{
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.03s4),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 800px rgba(0, 0, 0, 0.012);
}

.carousel-indicators{
    z-index: 1;
}

.card__kits{
    padding-top: 50px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-bottom: 5vh;
}

.card{
    margin:  10px auto;
    animation: backInLeft;
    animation-duration: 1s;
    border-radius: 30px;
}

.card-image-top{
    border-radius: 30px;
}

.Bolo{
    background-color: rgb(247, 208, 188);
}

.card img{
    border-radius: 20px;
}

