nav {
    position: fixed;
    z-index: 11;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: var(--rosa-pastel);
    height: 65px;
}

.navbar__info{
    display: inline-flex;
    align-items: center;
    color: #fff;
}  

.logo{
    height: 50px;
    padding-right: 25px;
}

.titulo {
    font-size: 24px; 
    text-transform: uppercase;
    letter-spacing: 4px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 8px;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.nav-list2{
    letter-spacing: 3px;
    margin-left: 32px;
    color: #fff;
    display: flex;
    padding-top: 19px;
    margin: 0px 20px;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    color: #fff;
    display: flex;
    padding-top: 19px;
    margin: 0px 20px;
}

.nav-list.active {
    transform: translateX(0);
    width: 50vw;
    overflow-x: hidden;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    color: #fff;
}
  
.mobile-menu.active .line2 {
    opacity: 0;
    color: #fff;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    color: #fff;
}

@media (max-width: 999px) {
  
    .titulo {
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;
    }
  
    .nav-list {
      position: absolute;
      top: 65px;
      right: 0;
      width: 0vw;
      height: 92vh;
      background: var(--rosa-pastel);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 10;
      overflow-x: hidden;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
      color: #fff;
    }

    .mobile-menu {
      display: block;
      color: #fff;
    }
    .logo{
      padding-right: 2px;
    }
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

/* link estilizados */

.paragrafo { line-height:25px; margin-bottom:10px; text-align: center; }

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  cursor: pointer;
}


.link-zoom::before {

  content: " ";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -2px;
  padding: 0 2px;
  width: calc(100% + 2px);
  height: 1px;
  transition: 0.4s;
  text-decoration: none;

}

.link-zoom::after {

  content: " ";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: calc(50% - 4px);
  padding: 0 2px;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  transition: 0.4s;
  text-decoration: none;

}

.link-zoom:hover::before {

  border-color: transparent;
  text-decoration: none;

}

.link-zoom:hover::after {

  width: 100%;
  height: 1.25em;
  left: -1em;
  bottom: -0.35em;
  padding: 0.5em 1em;
  border-radius: 2.5em;
  text-decoration: none;
}


.link-zoom {

  display: inline-block;
  transition: 0.3s;
  transition-delay: 0s;
  transform: scale(1);
  text-decoration: none;

}

.link-zoom:hover {

  color: rgb(255, 255, 255);
  transform: scale(1.5);
  transition-delay: 0.11s;
  text-decoration: none;

}