@import url("navbar.css");
@import url("carrosseis.css");


@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

:root{
  --laranja: #DB7F67;
  --creme: #DBBEA1;
  --rosa-pastel: #E2A09E;
  --marrom: #3F292b;
  --rosa: #D34F73;
}


body{
  background-image: linear-gradient(rgba(135, 132, 132, 0.4), rgba(135, 130, 130, 0.4)),url(../img/background-bolo.jpg);
  background-size: cover;

  /* background: linear-gradient(72deg, #ffffff9d 1%, hsl(0, 100%, 50%) 99%);*/
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Gotu', sans-serif;
    font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

h1{
  color: var(--marrom);
  font-size: 2em;
  text-shadow: 3px 3px 3px rgb(255, 255, 255) ;
  padding: 40px 0;
  animation: bounce; 
  animation-duration: 1s;
  text-align: center;
  font-size: 60px;
}





